.prayer-html-box {
	background: #FAFAFA;
	width: 93%;
	margin-left:3%;
}
.prayer-name {
	background: #4189dd;
	border: 1px solid #19292E;
	color: #FAFAFA;
	display: block;
	font-size: 16px;
	padding: 5px;
	text-align: center;
}
.prayer-time {
	background: #4189dd;
	border: 1px solid #19292E;
	color: #FAFAFA;
	display: block;
	font-size: 16px;
	padding: 5px;
	text-align: center;
}
.district-box {
	background: #4189dd;
	text-align: center;
	font-size:14px;
	color:#FAFAFA;
	width:75%;
	cursor: pointer;
	margin-right:5px;
	padding: 5px;
}